.form-label {
  font-weight: bold;
  font-size: 1em;
  color: #5195cc;
}

.button {
  background-color: #5195cc;
}

.form-input {
  color: #5195cc;
  height: 1.8em;
}

.form-header {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5%;
}

.text-bold {
  font-weight: bold;
}

.form-input:focus {
  border-color: #5195cc;
}

.form-button {
  position:relative;
  left:26%;
}

.button.compare-button {
  position:relative;
  left:25%;
}

.compare-button-wrapper {
  position: relative;
}

.button.try-again-button {
  margin-top: 5px;
  /* left: 8%; */
  margin: auto;
  font-size: 1em;
}

.try-again-container {
  position: relative;
  left: 15%;
  font-weight: bold;
}

.change-button {
  position: relative;
  left: 25%;
  font-weight: bold;
  font-size: 1em;
}

@media(min-width: 40em) {
  .button.form-button {
    left:29%;
  }

  .compare-button-wrapper {
    top: 46%;
  }

  .try-again-container {
    position: relative;
    top: 50%;
  }

  .change-button {
    left: 33.2%;
  }
}

@media(max-width: 40em) {
  .form-label {
    padding-top: -2px;
    font-size: 0.95em;
  }

  .form-input {
    height: 1.5em;
    font-size: 1em;
    padding-left: 0.2em;;
  }

  .button.compare-button {
    width: 50%;
    height: 40%;
    font-size: 0.9em;
  }

  .button.form-button {
    width: 50%;
    height: 40%;
    font-size: 0.9em;
  }

}