.chart-header {
  font-size: 20px;
  font-weight: bold;
}

.legend-main {
  display: inline-block;
  padding-right: 10px;
  padding-left: 2px;
}

.legend-color {
  display: inherit;
  width: 40px;
  height: 15px;
}


.legend-data {
  display: inherit;
  position: relative;
  top: -2.5px;
  padding-left: 3px;
  font-size: 80%;
  color: #737373;

}

@media(max-width: 40em) {
  .chart-header {
    font-size: 14px;
  }

  .legend-color {
    width: 28px;
    height: 10px;
  }

  .legend-data {
    top: -2.2px;
  }
}