.portfolio-change-header {
  font-weight: bold;
  font-size: 1em;
}

.portfolio-change-container {
  padding-bottom: 15px;
}

.portfolio-size {
  font-size: 1.2em;
}

/* @media(max-width: 40em) {
  .portfolio-size {
    font-size: 1.1em;
  }

  .portfolio-change-container {
    font-size: 0.9em;
  }
} */