.form-label {
  font-weight: bold;
  font-size: 15px;
  color: #5195cc;
}

.button {
  background-color: #5195cc;
}

h5 {
  font-weight: bold;
}

.change-portfolio {
  font-weight: bold;
}

.form-input {
  color: #5195cc;
}

.text-bold {
  font-weight: bold;
}

.form-input:focus {
  border-color: #5195cc;
}

.form-button {
  position:relative;
  left:26%;
}

.compare-button {
  position:relative;
  left:25%;
}

.compare-button-wrapper {
  position: relative;
}

.try-again-button {
  /* position: relative; */
  margin-top: 5px;
  /* left: 8%; */
  margin-left: 7.5%;
}

.try-again-container {
  position: relative;
  left: 30%;
}

.change-button {
  position: relative;
  left: 34%;
}

/* .try-again-text {
  position: relative;
  left: 30%
} */

@media(min-width: 40em) {
  .form-button {
    left:29%;
  }

  .compare-button-wrapper {
    top: 46%;
  }

  .try-again-button {
    /* left: 9.5%; */
    margin-left:1.7%
  }

  .try-again-container {
    top: 50%;
  }

  .change-button {
    left: 33%
  }
}