body {
  color: #5195cc;
}

.company-name {
  margin: 1% 0% 0% 2% ;
}

.center {
  text-align: center;
}

.chart {
  margin-top: 25px;
}

.compare {
  margin-top: 20%;
}

.bright-color {
  color: #96e1f2;
}

.plan-color {
  color: #4b81aa
}

h5 {
  font-weight: bold;
}
