body {
  color: #5195cc;
  font-family: "Trebuchet MS";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS";
}

.company-name {
  margin: 1% 0% 0% 2% ;
}

.center {
  text-align: center;
}

.chart {
  margin-top: 2%;
}

.compare {
  margin-top: 20%;
}

.bright-color {
  color: #96e1f2;
}

.plan-color {
  color: #4b81aa
}

h5 {
  font-weight: bold;
  margin-bottom: 0%;
}

h6 {
  font-weight: bold;
}

.custom {
  margin-top: 6%;
}

@media(min-width: 40em) {
  .custom {
    margin-top: 2%;
  }
}
